<div class="login-panel">
  <div class="form">
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
      <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
        <p-panel header="Login">
          <div class="p-grid p-justify-center p-align-center">
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input id="input-username" type="text" size="30" pInputText [(ngModel)]="userName"
                       placeholder="Enter User name">
              </div>
            </div>
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <input id="input-password" type="password" size="30" pInputText [(ngModel)]="password"
                       placeholder="Enter Password">
              </div>
            </div>
          </div>
          <div class="p-grid p-mt-2">
            <div class="p-col-12 p-inputgroup">
              <button pButton type="submit" label="{{ 'Login' }}" class="p-button-raised full-width"
                      (click)="onClickLogin()"></button>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
